[submodule "OpenEmu-SDK"]
	path = OpenEmu-SDK
	url = git@github.com:PlutoX86/OpenEmu-SDK.git
[submodule "OpenEmuXPCCommunicator"]
	path = OpenEmuXPCCommunicator
	url = git@github.com:PlutoX86/OpenEmuXPCCommunicator.git
